html {
  font-size: 24px;
}

body {
  font-family: "Space Mono", sans-serif;
  background-color: $light-grayish-cyan;
}

h1 {
  background-color: $very-dark-cyan;
  color: #fff;
  font-family: "Space Mono", sans-serif;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 575px;

  @media(min-width: 900px) {
    max-width: 880px;
  }
}

.row {
  display: flex;
  flex-direction: column;

  &--mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: 900px) {
    flex-direction: row;
    align-items: center;
    // justify-content: space-between;
    gap: 1.5em;
  }
}

@media(min-width:900px) {
  .col-left {
    width: 50%;
  }

  .col-right {
    width: 50%;
  }
}