main {
    .logo {
        margin: 0 auto;
        margin-top: 2em;
        margin-bottom: 1.5em;
    }

    .card {
        background-color: #FFF;
        border-radius: 20px;
        padding: 1.25em;
    }

    .label {
        font-size: .75rem;
        color: $dark-grayish-cyan;
    }

    .input {
        width: 100%;
        margin-bottom: 1.5em;
        border: none;
        color: $very-dark-cyan;
        background-color: $very-light-grayish-cyan;
        text-align: right;
        border-radius: 5px;
        padding: .25em .75em;

        &:focus-visible {
            border: 2px solid $strong-cyan;
            border-radius: 5px;
        }
    }

    .grid {
        display: grid;
        gap: .5em;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

        .percenteage-btn {
            color: #FFF;
            background-color: $very-dark-cyan;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: .25s;

            &:hover {
                color: $very-dark-cyan;
                background-color: $light-grayish-cyan
            }
        }
    }

    .percenteage-input {
        border: none;
        color: $very-dark-cyan;
        background-color: $very-light-grayish-cyan;
        text-align: right;
        border-radius: 5px;
        padding: 0 .75em;

        &:focus-visible {
            border: 2px solid $strong-cyan;
            border-radius: 5px;
        }
    }

    .input-wrapper {
        position: relative;
    }

    .icon {
        position: absolute;
        top: 16px;
        left: 18px;
    }

    p.label {
        margin-bottom: 1em;
    }
}